---
title: notebook
description: some writing
eleventyExcludeFromCollections: true
---
<!doctype html>

<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta
   name="viewport" 
   content="width=device-width, initial-scale=1.0"
  />
  <meta
   name="og:title" 
   content="{{ description }}"
  />
  <meta
   name="og:description" 
   content="{{ description }}"
  />
  <title>{{ title }}</title>
  {% set css %}
   {% include "style.css" %}
  {% endset %}
  <style>
   {{ css | safe }}
  </style>
 </head>
 <body>
  <main itemscope itemtype="http://schema.org/Blog">
   <h1>
    {{ title }}
   </h1>

   <div>
    {%- for note in collections.all | reverse -%}
     <article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
      <h2>
       <a href="{{ note.data.permalink | url }}" itemprop="headline name">
        {{ note.data.title }}
       </a>
      </h2>
      <p itemprop="description">
       {{ note.data.description }}
      </p>
     </article>
    {%- endfor -%}
   </div>
  </main>
 </body>
</html>