---
title: notebook
layout:
---
<!doctype html>
<html
  lang="en"
  dir="ltr">
  <head>
    <meta charset="utf-8" />

    <link
      rel="canonical"
      href="https://hen.cat/notebook"
    />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />

    <style>
      {{ css | safe }}
    </style>

    <title>
      notebook
    </title>
  </head>
  <body>
    <main>

      <header class="hero">
        <h1>
          <span>{{ title }}</span>
          <svg xmlns="http://www.w3.org/2000/svg" stroke-linecap="round" stroke-linejoin="round" viewBox="-2 0 41 8">
            <g fill="none">
              <path stroke="#000" stroke-width="2.8" d="M0 6V3h1l1 1v2"/>
              <path stroke="#fff1e8" d="M0 6V3h1l1 1v2"/>
            </g>
            <g fill="none">
              <path stroke="#000" stroke-width="2.8" d="M4.8 5v1h1l1-1V3h-1l-1 1v1"/>
              <path stroke="#fff1e8" d="M4.8 5v1h1l1-1V3h-1l-1 1v1"/>
            </g>
            <g fill="none">
              <path stroke="#000" stroke-width="2.8" d="M9.6 3h2m-1 0v3"/>
              <path stroke="#fff1e8" d="M9.6 3h2m-1 0v3"/>
            </g>
            <g fill="none">
              <path stroke="#000" stroke-width="2.8" d="M16.4 3h-2v3h2m-1-1.5h-1"/>
              <path stroke="#fff1e8" d="M16.4 3h-2v3h2m-1-1.5h-1"/>
            </g>
            <g fill="none">
              <path stroke="#000" stroke-width="2.8" d="M19.2 5v1h2V5l-1-1V3h-1v2"/>
              <path stroke="#fff1e8" d="M19.2 5v1h2V5l-1-1V3h-1v2"/>
            </g>
            <g fill="none">
              <path stroke="#000" stroke-width="2.8" d="M24 5v1h1l1-1V3h-1l-1 1v1"/>
              <path stroke="#fff1e8" d="M24 5v1h1l1-1V3h-1l-1 1v1"/>
            </g>
            <g fill="none">
              <path stroke="#000" stroke-width="2.8" d="M28.8 5v1h1l1-1V3h-1l-1 1v1"/>
              <path stroke="#fff1e8" d="M28.8 5v1h1l1-1V3h-1l-1 1v1"/>
            </g>
            <g fill="none">
              <path stroke="#000" stroke-width="2.8" d="M33.6 3v3m0-1l2-2m-1 1l1 1v1"/>
              <path stroke="#fff1e8" d="M33.6 3v3m0-1l2-2m-1 1l1 1v1"/>
            </g>
          </svg>
        </h1>
        <p>
          {{ description }}
        </p>
        <nav>
          <ol>
            {% for link in links %}
              <li>
                <a href="{{ link.href }}">
                  {{ link.text }}
                </a>
              </li>
            {% endfor %}
          </ol>
        </nav>
      </header>

      <dl>
        {% for note in collections.all %}
          {% if note.data.layout == "note" and note.data.name %}
            <dt>
              <a href="/{{ note.fileSlug }}">
                {{ note.data.name }}
              </a>
            </dt>
            <dd>
              {{ note.data.description }}
            </dd>
          {% endif %}
        {% endfor %}
      </dl>

    </main>
  </body>
</html>

