---
title: notebook
---
<!doctype html>
<html
  lang="en"
  dir="ltr">
  <head>
    <meta charset="utf-8" />

    <link
      rel="canonical"
      href="https://hen.cat/notebook"
    />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />

    <title>
      notebook
    </title>
  </head>
  <body>
    <main>
      {{ title }}

      <ol>
        {%- for note in collections.all -%}
          {% if note.data.layout == "note" and note.data.name %}
            <li>
              <a href="{{ note.fileSlug }}">
                {{ note.data.name }}
              </a>
            </li>
          {% endif %}
        {%- endfor -%}
      </ol>
    </main>
  </body>
</html>

