:root {
  --padding: 1rem;
  --tiny: calc(100vw - var(--padding) * 2);
  --wide: 32rem;
  --box: min(var(--tiny), var(--wide));
  --edge: calc((100vw - var(--box)) / 2);

  --titleFontSize: 1rem;
  --dateFontSize: 1rem;
  --nameFontSize: 1rem;
}

@media (min-width: 16rem) {
  :root {
    --titleFontSize: 1.5rem;
  }
}

@media (min-width: 20rem) {
  :root {
    --titleFontSize: 1.9rem;
  }
}

@media (min-width: 24rem) {
  :root {
    --titleFontSize: 2.4rem;
  }
}

@media (min-width: 32rem) {
  :root {
    --titleFontSize: 3rem;
  }
}

html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
}

article {
  align-items: center;
  display: flex;
  flex-direction: column;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--box);
  width: var(--box);
}

h1 {
  color: darkslategray;
  font-family: Futura, sans-serif;
  font-size: var(--titleFontSize);
  margin: 0 0 1rem 0;
  text-align: center;
  width: min-content;
}

time {
  font-family: Menlo, monospace;
  font-size: var(--dateFontSize);
}

p {
  font-family: Menlo, monospace;
  font-size: 1.2rem;
  width: var(--box);
}

pre {
  background: #223;
  border-top: 0.2rem solid hotpink;
  border-bottom: 0.2rem solid hotpink;
  box-shadow:
    0 -0.1rem 0 cyan,
    0 0.1rem 0 cyan;
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  padding: 2rem 0;
  width: 100vw;
}

pre > code {
  color: white;
  font-family: Monaco, monospace;
  font-size: 1rem;
  font-weight: bold;
  min-width: var(--box);
}

footer {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: var(--box);
  width: var(--box);
  padding-bottom: 2rem;
}

[itemprop="creator"] {
  font-family: Futura, Helvetica, sans-serif;
  margin: 0 0 0.2rem 0;
  text-align: right;
}

[itemprop="creator"] a {
  text-decoration: none;
}

[itemprop="creator"] [itemprop="name"] {
  color: black;
  font-size: var(--nameFontSize);
  font-weight: bold;
}

[itemprop="creator"] [itemprop="name"]:hover {
  text-decoration-line: underline;
  text-decoration-color: deepskyblue;
}

