:root {
  --padding: 0.5rem;
  --tiny: calc(100vw - var(--padding) * 2);
  --wide: 32rem;
  --box: min(var(--tiny), var(--wide));
  --edge: calc((100vw - var(--box)) / 2);

  --titleFontSize: 1rem;
  --dateFontSize: 1rem;
}

@media (min-width: 16rem) {
  :root {
    --titleFontSize: 1.5rem;
  }
}

@media (min-width: 20rem) {
  :root {
    --titleFontSize: 1.9rem;
  }
}

@media (min-width: 24rem) {
  :root {
    --titleFontSize: 2.4rem;
  }
}

@media (min-width: 32rem) {
  :root {
    --titleFontSize: 3rem;
  }
}

html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

article {
  width: var(--box);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--box);
  width: var(--box);
}

h1 {
  font-family: Futura, sans-serif;
  font-size: var(--titleFontSize);
  margin: 0 0 1rem 0;
}

time {
  font-family: Menlo, monospace;
  font-size: var(--dateFontSize);
}

p {
  font-family: Menlo, monospace;
  font-size: 1.2rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--box);
  width: var(--box);
}

