@use "./node_modules/@henrycatalinismith/picknmix/picknmix.scss";

@include picknmix.theme;

.hero {
  display: grid;
  row-gap: 1rem;

  h1 {
    display: flex;
    justify-content: center;
  }

  h1 span {
    display: none;
  }

  h1 svg {
    height: 4rem;
    width: 20rem;
  }

  ol {
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    place-content: center;
  }

  ol a {
    font-weight: bold;
    text-decoration: none;
  }
}

article {
  table {
    width: var(--column);
  }
}

@import "partial";
