@use "./node_modules/@hendotcat/picknmix/picknmix.scss";

@include picknmix.theme;

.hero {
  display: grid;
  row-gap: 1rem;

  h1 {
    display: flex;
    justify-content: center;
  }

  h1 span {
    display: none;
  }

  h1 svg {
    height: 4rem;
    width: 20rem;
  }

  ol {
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    place-content: center;
  }

  ol a {
    font-weight: bold;
    text-decoration: none;
  }
}

article {
  table {
    width: var(--column);
  }
}

footer {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: var(--column);
  width: var(--column);
  padding-bottom: 2rem;
}

[itemprop="creator"] {
  font-family: Futura, Helvetica, sans-serif;
  margin: 0 0 0.2rem 0;
  text-align: right;
}

[itemprop="creator"] a {
  text-decoration: none;
}

[itemprop="creator"] [itemprop="name"] {
  color: black;
  font-size: var(--nameFontSize);
  font-weight: bold;
}

[itemprop="creator"] [itemprop="name"]:hover {
  text-decoration-line: underline;
  text-decoration-color: deepskyblue;
}

@import "partial";
