@use "./node_modules/@hendotcat/picknmix/picknmix.scss";

@include picknmix.theme;

article {
  table {
    width: var(--column);
  }
}

footer {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: var(--column);
  width: var(--column);
  padding-bottom: 2rem;
}

[itemprop="creator"] {
  font-family: Futura, Helvetica, sans-serif;
  margin: 0 0 0.2rem 0;
  text-align: right;
}

[itemprop="creator"] a {
  text-decoration: none;
}

[itemprop="creator"] [itemprop="name"] {
  color: black;
  font-size: var(--nameFontSize);
  font-weight: bold;
}

[itemprop="creator"] [itemprop="name"]:hover {
  text-decoration-line: underline;
  text-decoration-color: deepskyblue;
}

