<!doctype html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta
   name="viewport" 
   content="width=device-width, initial-scale=1.0"
  />
  <meta
   name="og:title" 
   content="{{ title }}"
  />
  <meta
   name="og:description" 
   content="{{ description }}"
  />
  <title>{{ title }}</title>
  {% set css %}
   {% include "style.css" %}
  {% endset %}
  <style>
   {{ css | safe }}
  </style>
 </head>
 <body>
  <main>
   <h1>
    {{ title }}
   </h1>
   {{ content | safe }}
  </main>
 </body>
</html>