---
---
<!doctype html>
<html
  lang="en"
  dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <link rel="stylesheet" href="style.scss" />
  </head>
  <body>
    <main>
      <header>
        <h1>
          {{ name }}
        </h1>
        <p>
          {{ description }}
        </p>
      </header>
      {{ content | safe }}
      <footer>
        <p
          itemprop="creator"
          itemscope
          itemtype="http://schema.org/Person">
          <a href="https://hen.cat/" target="_blank">
            <span itemprop="name">
              Henry Catalini Smith
            </span>
          </a>
        </p>

        <time datetime="{{ date | iso8601 }}">
          {{ date | iso8601 }}
        </time>
      </footer>
    </main>
  </body>
</html>

